:root{
  --white:#F9F9F9;
  --purple:#B494CA;
  --black: #4B4B4B;
}
body {
  background-color: var(--white);
}
header {
  background-color: var(--purple);
}
footer{
    text-align: center;
    font-size: 14px;
    padding: 10px;
}
nav{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  background-color: var(--purple);
  padding: 12px;
}
ol{
  font-style: italic;
  list-style-type: lower-roman;
}
a{
  padding-left: 20px;
}
tr{
  background-color: rgb(210, 159, 214);
  border: rgb(0, 0, 0);
}
td{
  background-color:rgb(223, 114, 199) ;
  border: rgb(0, 0, 0);
}
.warning{
color: red;
font-weight: bold;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}





