:root{
  --white:#F9F9F9;
  --purple:#B494CA;
  --black: #4B4B4B;
}
body {
  background-color: var(--white);
  margin: 0;
  padding: 0;
	border: 0;
  font-family: 'Poppins', sans-serif;
}
footer{
    color: var(--black);
    text-align: center;
    font-size: 1.3rem;
    padding: 0.7rem;
    margin: 0;
    background-color: var(--white);
}
nav{
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: var(--white);
  
}
h1{
  font-size: 1.3rem;
  margin:0;
  color:var(--black);
  padding-bottom: 10px;
  
}
#pageTitle {
  padding: 1.3rem 0rem 0rem 3.1rem;
  font-size: 1.3rem;
}
ol{
  font-style: italic;
  list-style-type: lower-roman;
}
a{
  display: block;
  color: white;
  text-decoration: none;
}
tr{
  background-color:#B494CA;
  color: var(--black);
  border: rgb(0, 0, 0);
}
td{
  background-color: #e7deee;
  border: rgb(0, 0, 0);
  color:var(--black);
}
article {
  background: rgba(180, 148, 202, 0.3);
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.7rem;
  padding: 2.5rem;
  margin: 1.9rem 3.1rem 1.9rem 3.1rem;
  text-align:center;
  font-size:1.2rem;
}
.helloUser {
  padding-left: 3.1rem;
  font-size: 1.3rem;
}
.warning{
color: black;
font-weight: bold;
text-align: center;
padding:0.7rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.header{
  background-color: #B494CA;
  border-radius: 0rem 0rem 0rem 6.3rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.relax{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

}
.welcome{
  font-size: 2.5rem;
  text-align: center;
  background-color: #B494CA;
  margin: 0;
  color: white;
  padding-top: 1.6rem;
  padding-bottom: 50px;
  text-shadow: 2px 5px 5px rgb(27 27 27 / 50%);
}
.frontpage{
  background-color: #B494CA;
  padding-bottom: 3.1rem;
  text-shadow: 2px 5px 5px rgb(27 27 27 / 50%);
  margin-bottom:-2.5rem;  
  
}
.profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -1.3rem;
    padding-top: 1.3rem;
  
}
.headerlogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.loginform{
  text-align: center;
}
input[type=text], input[type=password]{
  padding: 7px 20px;
  font-size: 1.2rem;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

input[type=submit], input[type=button]{
  
  padding: 9px 25px 9px 25px;
  color:white;
  background-color: var(--purple);
  border-style: solid;
  text-shadow: 2px 5px 5px rgb(27 27 27 / 50%);
  font-size: 1.2rem;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 0.7rem;  
  cursor: pointer;
}

  .createform{
    text-align: center;

  }
  #gender{
  padding: 7px 43px;
  font-size: 1.2rem;
  color: gray;

  }
  #luotili{
    padding: 9px 112px 9px 112px
  }
 
/*Valikko*/
.navBar {
    background-color: #B494CA;
    position: fixed;
    top: 0;
    right: -500px;
    height: 100%;
    width: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right .6s cubic-bezier(1, 0, 0, 1);
    z-index: 1;
    opacity: 0.94;
}
/*Muuttaa navBarin näkyviin burgeria painaessa*/
.change {
  right: 0;
}
/*Valikon lista*/
.nav-list {
  text-align: right;
}
/*Valikon linkien laatikot*/
.nav-item {
  list-style: none;
  margin: 25px;
}
/*Valikon linkit*/
.nav-link {
  text-decoration: none;
  font-size: 22px;
  color: #F9F9F9;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}
/*Burgerin tausta*/
.burgerMenu {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    background: #B494CA;
    margin-top: 2%;
}
/*Burgerin keskimmäinen palkki*/
.burgerMenu-Btn {
    width: 40px;
    height: 8px;
    background: #F9F9F9;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
/*Burgerin ylä- ja alaosa*/
.burgerMenu-Btn::before,
.burgerMenu-Btn::after{
  content: '';
  position: absolute;
  width: 40px;
  height: 8px;
  background: #F9F9F9;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}

/*Burgerin yläosa*/
.burgerMenu-Btn::before {
  transform: translateY(-16px);
}
/*Burgerin alaosa*/
.burgerMenu-Btn::after {
  transform: translateY(16px);
}
/*Burgerin keskimmäisen osan animaatio*/
.burgerMenu.open .burgerMenu-Btn {
  transform: translateX(-50px);
  background: transparent;
}
/*Burgerin yläosan liike*/
.burgerMenu.open .burgerMenu-Btn::before {
  transform: rotate(45deg) translate(35px, -35px);
}
/*Burgerin alaosan liike*/
.burgerMenu.open .burgerMenu-Btn::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.button1 {
  font-family: 'Poppins';
  font-size:18px;
  background-color:#af99be;
  color:white;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
  border:none;
  padding: 15px 20px;
  margin: auto;
  text-align: center;
  cursor: pointer;
}
.image {
padding: 1.3rem;
width: 9.4rem;
}


#chartdiv {
  width: 100%;
  height: 500px;
}
table{
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  text-align:center;
  background-color: var(--white);
  
}
#stressiotsikko{
  text-align: center;
}
.fa-clock-o:before {
  color: var(--black) ;
}
.stressBtn{
  padding: 9px 25px 9px 25px;
  color:white;
  background-color: var(--purple);
  border-style: solid;
  text-shadow: 2px 5px 5px rgb(27 27 27 / 50%);
  font-size: 1.2rem;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 0.6rem;  
  cursor: pointer;
  text-align: center;
}

.contactInfo {
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.3rem;
  line-height: 2;
}
#kirjaudusisaan{
  padding: 9px 75px 9px 75px;
}
.tietosuoja{
  padding-left: 10px;
}
#tallenna{
  padding: 9px;
}
.stressMonitoring{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-size: 18px;
}
.indexi{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-size: 18px;
}
.stresstoday{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    padding-top: 10px;
    padding-bottom: 20px;
}
.editProfile{
  padding: 9px 1px 9px 1px;
  color:white;
  background-color: var(--purple);
  border-style: solid;
  text-shadow: 2px 5px 5px rgb(27 27 27 / 50%);
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 0.7rem;  
  cursor: pointer;
  text-align:center; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-size: 18px;
}
.editPassword {
  padding: 9px 1px 9px 1px;
  color:white;
  background-color: var(--purple);
  border-style: solid;
  text-shadow: 2px 5px 5px rgb(27 27 27 / 50%);
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 0.7rem;  
  cursor: pointer;
  text-align:center; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-size: 18px;
}
.removeProfile {
  padding: 9px 1px 9px 1px;
  color:white;
  background-color: var(--purple);
  border-style: solid;
  text-shadow: 2px 5px 5px rgb(27 27 27 / 50%);
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 0.7rem;  
  cursor: pointer;
  text-align:center; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-size: 18px;
}
#stressih{
  text-align: center;
}